<div class="container">      
<h3>Customer's Detail</h3>
    <div class="form-group">
      <label style="width:125px"><strong>Name:</strong> </label>
      <%= @customer.name %>
    </div>
    <div class="form-group">
      <label style="width:125px"><strong>Email:</strong> </label>
      <%= @customer.email %>
    </div>

    <br>
    <hr/>
    <h3>Customer Budget</h3>
    <%= form_for @customer, url: update_line_items_customer_url, data: { line_item_list: show_line_items_customer_url(@customer) }, class: 'customer_listing', method: :post do |f| %>
      <table id="budgetTable" class="table table-bordered">
        <thead>
          <tr>
            <th class='w-25'>Budget Cost</th>
            <th>Budget Type</th>
            <th class='w-25'><button id="addRow" type="button" class="btn btn-sm btn-dark"> + Add Row</button> </th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <div style="margin-top:10px" class='float-right'>
         <%= link_to 'Back', { controller: 'customers', action: 'index'}, class:"btn btn-sm btn-primary" %>
         <%= f.submit 'Save', class:"btn btn-sm btn-success" %>
       </div>       
   <% end %>


<div>
</div>
</div>
<script type="text/javascript">

$(function(){
    let customer = new Customer();
    customer.initialize(new App());
});

function removeRow(selectObject) {
    selectObject.closest("tr").remove();
    if($(".customers_cost").length <= 0) {
        $('#budgetTable tbody').append('<tr class="empty_row"> <td colspan="2"> No Records Found!</td></tr>');
    }
};
 </script>
